<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888556483758-v6sovce9jfqh6lr0eu9n27smgba7u2cq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888556483758-v6sovce9jfqh6lr0eu9n27smgba7u2cq</string>
	<key>API_KEY</key>
	<string>AIzaSyAh2BahUVxxnPKbaTb9EYt_tcPeRQ-O8ds</string>
	<key>GCM_SENDER_ID</key>
	<string>888556483758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>SJB</string>
	<key>PROJECT_ID</key>
	<string>flashchat-b980e</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-b980e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888556483758:ios:f16d195a70dea8194fa93f</string>
</dict>
</plist>